h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
  line-height: 1.3;
  color: #343a40; // tono oscuro AdminLTE

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

mark {
  background: #ffeeba; // color amarillo suave AdminLTE
  padding: 0.25rem 0.4rem;
  border-radius: 0.25rem;
  font-family: monospace;
}

blockquote {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-left: 4px solid #ced4da;
  background-color: #f8f9fa;
  color: #495057;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px solid #dee2e6;
  margin: 1.5rem 0;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.6;
  color: #444;

  &:last-child {
    margin-bottom: 0;
  }
}
